{% extends 'base.html' %}

{% block content %}

<form method="post">
    {% csrf_token %}
    <div 
    class="container red lighten-3" 
    style =
        "padding: 10px; 
        margin-top: 10px; 
        display: flex; 
        align-items: center; 
        justify-content: center; 
        flex-direction: column;
        
    ">
        <h2 class="card-title">Sign up</h2>


        <div class="row" style="margin-right: none;">
            <div class="col m8 s12 l8" style="margin-right: none;">
              <div class="card" style="padding: 10px;">
                <p>
                    {% for field in form %}

                    <label class="deep-purple-text ">    
                        {{ field.label_tag }}
                    </label>

                        <div class="input-field col s12">
                            {{ field }}
                        </div>

                        {% if field.help_text %}
                            <small>{{ field.help_text }}</small>
                        {% endif %}

                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                </p>
                    {% endfor %}

                    <button class="btn waves-effect waves-light" type="submit" name="action">
                        Signup 
                    </button>
                </div>
            </div>
        </div>
    </div>
  </form>


{% endblock %}